* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


h1 {
    font-size: 60px;
    color: ghostwhite;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    padding: 20px;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 96%);
}

.card {
    background-color: azure;
    border: 2px solid steelblue;
    height: 260px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
                rgba(0, 0, 0, 0.06) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px,
                rgba(0, 0, 0, 0.09) 0px 16px 8px,
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all 0.3s ease-in-out;
}

.card h3{
    font-size: 10px;
    align-items: center;
}

.card h4{
    font-size: 10px;
    align-items: center;
}

.card p{
    font-size: 10px;
    align-items: center;
}

.card img {
    width: 150px;
    height: auto;
    border-radius: 30px;
    border: 2px solid steelblue;
    transition: all 0.3s ease-in-out;
}

.card * {
    transition: font-size 0.3s ease-in-out;
}

.card:hover * {
    font-size: 95%;
}

/* Efeito ao passar o mouse */
.card:hover {
    cursor: pointer;
    background-color: cornsilk;
    color: black;
    height: 275px;
    width: 310px;
}

.card:hover img {
    transform: scale(1.03);
    border-radius: 10px;
}

/* Reduz o tamanho da fonte ao passar o mouse */
.card:hover p,
.card:hover h2,
.card:hover span {
    font-size: 90%;
}